.todos {
    display: grid;
    grid-template-columns: 210px 210px 210px 210px 210px;
    grid-template-rows: 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px 205px;
    padding: 20px;
    width: 200px;
}

.todolistBlock {
    background-color: #fff;
    height: 200px;
    padding: 9px;
    margin: 10px;
    // position: 'relative';
    border: 1px solid #69b7ff;
    border-radius: 10px;

    .title {
        height: 100px;

        div {
            border-radius: 5px;
            border: 1px solid #69b7ff;
        }
    }

    .checkbox {
        float: right;
        margin-right: 3px;
        margin-top: -10px;
    }

    .button {
        margin: 20px 5px;
        display: flex;
        .delete {
            margin-left: 15px;
        }
    }
}